.obj/*
bin/*
Makefile.conf
_
output/*.json
lib/*
b__*
*.o
*.so
*.ali
**/main
*.orig

output/
.tmp*
gnatinspect.db*
*loc.xml
messages.txt
makefile.setup
*.stderr
*.stdout
*.bexce
*.cswi
*~
*.bexch
clang_ref_cache.db
*.bexch
*.lexch
trader
trader-main
