@@-- ----------------------------------
@@-- Auto template for json-builder.
@@-- To be completed.
@@-- ----------------------------------
   --  ---------------------------------------------------------------
   --  @_Name_@ record


